<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 routerLink="/identidad" class="card-title">¿Quiénes Somos?</h4>
  </div>
</div>
<div class="card bg-light bg-info mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 routerLink="/mision" class="card-title">Visión y Misión</h4>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Nuestra Historia</h4>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Nuestro Equipo</h4>
  </div>
</div>