.container-fluid
    background-color #F5F5F2

    .card-deck
        margin-top 60px
        margin-bottom 60px
        margin-left 40px
        margin-right 40px

.icono
    width 25px
    height 25px

