<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="/assets/ubicacion/san-cristobal.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">IDESMAC Chiapas</h4>
                <p class="card-text">Av. Cristóbal Colón, #35B Barrio El Cerrillo.
                   <br> San Cristóbal de Las Casas, Chiapas.<br>Teléfono: (967) 678 21 63. </p>
              </div>
              <div class="card-footer">
                <img class="icono" src="/assets/ubicacion/locate.png">
                <small class="text-muted">Google maps</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/assets/ubicacion/calakmul.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">IDESMAC Campeche</h4>
                <p class="card-text">C. Silvituk esquina con Balakbal, Centro. Villa de Xpujil, Calakmul, Campeche <br>Teléfono: (961) 701 5191.</p>
              </div>
              <div class="card-footer">
                <img class="icono" src="/assets/ubicacion/locate.png">
                <small class="text-muted">Google maps</small>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
