.container-fluid


     img 
        width 210px
        height 110px
        margin-left 40px
        margin-right 40px
        margin-bottom 30px
        margin-top 30px

.alert
    background-color #5DA099
    color white    

h5
    font-family 'Roboto', sans-serif