.container-fluid

     img 
        margin-left 40px
        margin-right 40px
        margin-bottom 30px
        margin-top 30px

.alert
    background-color #5DA099
    color white    

h5
    font-family 'Roboto', sans-serif

.altos
    width 170px
    height 70px

.catazaja
    width 140px
    height 90px

.evaluacion
    width 220px
    height 70px

.olat
    width 240px
    height 70px

.difusion
    width 290px
    height 70px