<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <div class="alert " role="alert">
            <h5>Líneas territoriales</h5>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="/assets/ALTOS.png">
    </div>
    <div class="col-4">
        <img src="/assets/CATAZAJA.png">
      </div>
    <div class="col-4">
          <img src="/assets/CALAKMUL.png">
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="alert " role="alert">
              <h5>Líneas temáticas</h5>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="/assets/EVALUACION.png">
      </div>
      <div class="col-4">
          <img src="/assets/OLAT.png">
        </div>
      <div class="col-4">
            <img src="/assets/INNOVACIÓN.png">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="/assets/DIFUSION.png">
      </div>
      <div class="col-4">
        <img src="/assets/sit.png">
      </div>
      <div class="col-4">
        <img src="/assets/CAE.png">
      </div>
    </div>
</div>
