@font-face
    font-family paralucent
    src url(https://use.typekit.net/af/f44673/00000000000000003b9ad973/27/l?subset_id=2&fvd=n5&v=3) 
.titulo
    padding-top 40px
    margin-left 43px
    color #00331A
    font-family paralucent, sans-serif
    font-weight 500
    line-height 22px
    font-size 18px
.portada
    padding-top 45px
    padding-bottom 10px
    width 209px
    display block
    margin auto
.nombre
    padding-bottom 29px
    font-size 14px

.sombra
    background-color: #F2F2F2

