.barra
    background-color #A3BD31 

    h5
        color white  
        padding-top 10px
        padding-bottom 20px
        font-family 'Ubuntu', sans-serif
        text-align center

    .font
        font-family 'Roboto', sans-serif
        font-style bold 
        
    p 
        text-align center 
        font-size 5px    

.portada
    width 200px
    display block
    margin auto

