<div class="container-fluid container">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="/assets/white_logo.png">
    </div>
    
    <div class="col-4">
      <div class="row d-flex justify">
      <h4>Contacto</h4>
        <p>Av. Cristóbal Colón #35-B, <br> Barrio El Cerrillo.
        CP. 29220. <br>San Cristóbal de Las Casas, Chiapas.
        <br>Correo electrónico: difusion.idesmac@gmail.com</p>
        </div>
      </div>
    <div class="col-4">
          <h4>Síguenos</h4>
          <div class="col-5 d-flex justify-content">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>            
          </div>
    </div>
  </div>
 </div>
