.container
     background #333333
     color white
     width 150%
     margin 0px
     max-width 100%


    .logo
        width 46px
        height 45px
        margin-top 10px
        margin-left 80px
        margin-bottom 10px

    h5 
        padding-top 30px
        font-family 'Roboto', sans-serif

    p  
        font-family 'Ubuntu', sans-serif
        padding-right 50px
        margin-right 100px
    .ico-uno  
        margin-left 200px
        width 26px
        height 26px
        z-index 76
        position relative
        margin-top 16px 

    .ico
        margin-left 10px
        width 26px
        height 26px
        z-index 76
        position relative
        margin-top 16px 
    
    .derechos
        font-size 10px
        padding-top 20px
        margin-left 5px
