<div class="container-fluid container">
  <div class="row align-items-start">
    <div class="col-xl-8 col-sm-12">
      <img class="img-fluid" src="/assets/white_logo.png">
    </div>
<!--    
    <div class="col-4">
      <div class="row d-flex justify">
      <h4>Contacto</h4>
        <p>Av. Cristóbal Colón #35-B, <br> Barrio El Cerrillo.
        CP. 29220. <br>San Cristóbal de Las Casas, Chiapas.
        <br>Correo electrónico: difusion.idesmac@gmail.com</p>
        </div>
      </div>
    -->   
    <div class="col-xl-4 col-sm-12 align-items-end">
          <h5>Síguenos</h5>
    <div class="row">   
          <div class="col-xl-12">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>   
            <p class="derechos">Todos los derechos reservados IDESMAC A.C. © 2017</p>           
          </div>
        </div>      
    </div>         
    </div>
  </div>
