<div class="container-fuid">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Videos</a></li>
          <li class="breadcrumb-item active" aria-current="page" href="#">Prensa</li>
          <li class="breadcrumb-item"><a href="#">Espacios de Esperanza</a></li>
        </ol>
      </nav>
<div class="row">
  <div class="col-4 uno">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Instituciones deben atender propuestas indígenas en Chiapas</h5>
            <p class="card-text">"El desarrollo, que es impulsado desde las propias comunidades, es el mejor modelo, será captado por otras regiones, ejemplo de ello es que en la presentación de los acuerdos hubo gente de la Península de Yucatán"</p>
            <a href="http://www.20minutos.com.mx/noticia/b248349/instituciones-deben-atender-propuestas-indigenas-en-chiapas/" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-center" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Urge garantizar alimentos a pueblos indígenas en Chiapas</h5>
            <p class="card-text">“Desde 2011 nos juntamos en grupos de trabajo para hacer nuestros proyectos, donde abordamos el concepto comunitario como un círculo de enseñanza y aprendizaje para bien de nuestros pueblos”, apuntó.</p>
            <a href="http://www.noticiasmvs.com/#!/noticias/urgen-garantizar-alimento-a-pueblos-indigenas-en-chiapas-666.html" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-right" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Consejos Municipales de los Altos de Chiapas presentan "Acuerdos para el buen futuro" de las niñas y los niños indígenas</h5>
            <p class="card-text">En la presentación de los Acuerdos, las comunidades indígenas invitaron al gobierno y a la sociedad en general a sumarse. Consideraron que de llevarlos a la práctica, disminuirían los índices de marginación o desnutrición que presentan hoy día.</p>
            <a href="https://www.chiapasparalelo.com/noticias/chiapas/2015/02/consejos-municipales-de-los-altos-de-chiapas-presentan-acuerdos-para-el-buen-futuro-de-las-ninas-y-los-ninos-indigenas/" class="btn btn-primary">Leer</a>
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Chiapas suma esfuerzos para impulsar el desarrollo sustentable</h5>
            <p class="card-text">El presidente de Idesmac, Arturo Arreola Muñoz, reconoció a Chiapas por impulsar el desarrollo sustentable y mantener un programa de capacitación permanente, con lo que se fortalecen las capacidades técnicas de los servidores públicos, lo que ha contribuido a revertir el deterioro ambiental y mitigar los efectos del cambio climático mediante el manejo responsable del entorno.Wital content.</p>
            <a href="http://www.oem.com.mx/elsoldepuebla/notas/n3549965.htm" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-center" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Se están alterando las temperaturas en Montes Azules, advierte IDESMAC</h5>
            <p class="card-text">Arturo Arreola apuntó que si simplemente se redujeran las condiciones de marginación a la mitad todavía tendríamos una mejora en las condiciones de riesgo; donde se tiene problema grave en Montes Azules es en la vulnerabilidad social. La pobreza y marginación de las poblaciones hacen que un fenómeno de amenaza, de presentarse el riesgo es desastroso.</p>
            <a href="http://www.defacto.com.mx/v2/sureste_nota.php?id=10892" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-right" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Revelan desastre ecológico en área natural protegida</h5>
            <p class="card-text">El Atlas comprende unos 92 mapas y todos ellos revelan detalles sobre la erosión, deforestación y otros problemas. Dijo que más que reforestación lo que necesita la región es una restauración que va más allá de la mera acción de sembrar arbolitos.</p>
            <a href="http://www.proceso.com.mx/?p=348954" class="btn btn-primary">Leer</a>
          </div>
        </div>
  </div>
  <div class="col-4">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Crean red para ANP</h5>
            <p class="card-text">Lo más importante es que participan las comunidades.
                Nueve comunidades de las zonas Costa, Sierra y Selva de Chiapas conforman la Red de Áreas Naturales Protegidas Comunitarias, como un modelo alternativo de conservación en la entidad, dijo Arturo Arreola Muñoz, director del Instituto para el Desarrollo Sustentable en Mesoamérica Asociación Civil (Idesmac).</p>
            <a href="http://www.noticiasnet.mx/portal/chiapas/general/ambientales/113229-crean-red-para-anp" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-center" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Conforman Red para Áreas Naturales Protegidas</h5>
            <p class="card-text">Nueve comunidades de las zonas Costa, Sierra y Selva de Chiapas conforman la Red de Áreas Naturales Protegidas Comunitarias, como un modelo alternativo de conservación en la entidad, dijo Arturo Arreola Muñoz, director del Instituto para el Desarrollo Sustentable en Mesoamérica Asociación Civil (Idesmac).</p>
            <a href="http://elorbe.com/seccion-politica/local/2012/08/26/conforman-red-para-areas-naturales-protegidas.html" class="btn btn-primary">Leer</a>
          </div>
        </div>
        
        <div class="card text-right" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Certifica la CONANP al ejido chiapaneco Las Nubes como área voluntaria de conservación</h5>
            <p class="card-text">La Comisión Nacional de Áreas Naturales Protegidas (CONANP) entregó al ejido Las Nubes, del municipio Maravilla Tenejapa, Chiapas, el certificado que lo acredita como Área Destinada Voluntariamente a la Conservación, con una extensión de 1,414 hectáreas que comprenden a 48 ejidatarios de la etnia Tzotzil, que hace tres décadas llegaron a la zona procedentes de comunidades de la Los Altos.</p>
            <a href="http://www.conanp.gob.mx/difusion/comunicado.php?id_subcontenido=75" class="btn btn-primary">Leer</a>
          </div>
        </div>
  </div>
</div>
</div>