.container-fluid
    padding-top 0px
    padding-left 40px
    padding-bottom 40px

.enlaces
    width 500px
    margin-top 40px
    padding-right 50px
    margin-bottom 20px
    
#carouselExampleControls
    margin-left 30px

hr   
    border-top: 2px solid #4bceb4; 
    border-bottom: 1px dashed #4bceb4; 
    border-left:none; 
    border-right:none; 
    height: 4px;