.container-fluid
    padding-top 0px
    padding-left 40px
    padding-bottom 40px
    background #EFEFEF
    padding-top 30px

.enlaces
    width 500px
    padding-top 40px
    padding-right 50px
    padding-bottom 20px
    
#carouselExampleControls
    margin-left 30px

