<app-identbann></app-identbann>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-identcard></app-identcard>
    </div>
    <div class="col-10">
      <h1>Misión, visión y valores</h1>
      <div class="row">
        <div class="col-10 text-center">
          <h1>Misión</h1>
          <p> Acompañar desde los diversos sures el empoderamiento, social, económico, ambiental, cultural y político de las organizaciones de base,  los pueblos originarios y los movimientos sociales antisistémicos.</p>
          <h1>Visión</h1>
          <p>Colaborar como sociedad civil en la construcción de territorios con  gobernanza, equidad y sustentabilidad.</p>
        </div>
      </div>
    </div>
  </div>
</div>
