<div class="container-fluid titulo">
    <div class="row">
      <div class="col-12">
        <p>Video de la semana:</p>
      </div>
    </div>
</div>
<div class="container-fluid video">
  <div class="row">
    <div class="col-12 embed-responsive embed-responsive-16by9">
      <iframe src="//www.youtube.com/embed/TomY9NZHcV8?autoplay=0&amp;loop=0&amp;showinfo=0&amp;theme=dark&amp;color=red&amp;controls=1&amp;modestbranding=0&amp;start=0&amp;fs=1&amp;iv_load_policy=1&amp;wmode=transparent&amp;rel=1" allowfullscreen="" frameborder="0"></iframe>
    </div>
  </div>
</div>