<div class="container-fluid titulo">
    <div class="row">
      <div class="col-12">
        <h4>VIDEO DE LA SEMANA</h4>
      </div>
    </div>
</div>
<div class="container-fluid video">
  <div class="row">
    <div class="col-12 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/stIAyY-jmc8" allowfullscreen></iframe>
    </div>
    <h6 class="text-center">Escuela de Formación de Organizaciones Locales para la Acción Territorial</h6>
  </div>
</div>