.banner
    background-image  url("/assets/banner-pub.png")
    color white  
    text-shadow: -1px -0px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000, 1px -1px 0px #000
    margin-top 10px 
    margin-bottom 10px
h1
    font-size 50px  

img
    width 207px
    height 279px
    margin-left 130px
    margin-top 10px
    margin-bottom 10px
    
p   
    margin-left 130px