<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <p class="temas">Temas:</p>
     <ul class="list-unstyled"> 
      <li (click)="filterTodo()"><img src="/assets/indent-all.png">Todo</li> 
      <li (click)="filterAcuerdos()"><img src="/assets/handshake.png"> Acuerdos de Colaboración Teritorial</li>
      <li (click)="filterCalakmul()"><img src="/assets/cradle-of-humankind.png">Calakmul</li>
      <li (click)="filterEcoturismo()"><img src="/assets/climbing-silhouette.png">Ecoturismo</li>
      <li (click)="filterOrdenamiento()"><img src="/assets/landing.png">Ordenamiento Territorial</li>
      <li (click)="filterOtros()"><img src="/assets/color-palette.png">Otros</li>
      <li (click)="filterANPC()"><img src="/assets/sprout.png">Red de Áreas Naturales Protegidas Comunitarias</li>
      <li (click)="filterRiesgo()"><img src="/assets/danger.png">Riesgo</li>
    </ul>
  </div>
      <div class="col-10">
        <div class="row">
          <div class="col-4" *ngFor="let p of publicacion">
              <img class="publicaciones" [src]="p['_embedded']['wp:featuredmedia'][0]['source_url']"><p>{{p.title.rendered}}</p>

          </div>
        </div>

      </div> 
      
    </div>
</div>
