.temas
    font-size 14px
    margin-left 50px
    margin-top 20px

.publicaciones
    width 90px
    height 122px
    margin-left 0px
    margin-top 10px
    margin-bottom 10px
    box-shadow: 6px 4px 14px 4px rgba(0,0,0,0.28);
    
p   
    margin-left 110px
    font-size 12px

li
    margin-left 50px
    font-size 12px
    margin-top 5px
    margin-bottom 5px
    margin-right 10px
img 
    width 29px
    height 28px
    margin-left 0px
    margin-right 3px
    margin-bottom 5px