.container-fluid
  margin-top 0px
  margin-bottom 10px
  margin-left 3px
  margin-right 3px

#map  
  padding-top 10px
  padding-bottom 20px
  width 80%


.map-overlay 
  padding-bottom: 100px
  padding-right: 20px
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  border-radius: 3px;

#features 
  margin-top 10px
  width 100%

#legend 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1px;

.legend-key 
  border-radius: 20%;
  width 250px;
  height 100px;
  margin-right: 5px;