<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <img src="http://idesmac.org.mx/images/publicaciones/usumacinta.jpg">
      <button type="button" class="btn btn-outline-success">Descarga PDF</button>
      <button type="button" class="btn btn-outline-success">Leer en línea</button>
    </div>
    <div class="col-6 text-justify">

      <h4>Ordenamiento Territorial de la Microrregión Cañón del Usumacinta municipio de Tenosique, Tabasco</h4>
      <hr>
      <p>El ordenamiento ecológico del territorio es una herramienta para formular estrategias de desarrollo y conservación, a través de la planeación del uso de suelo y mediante la cual se identifican las actividades humanas de mayor aptitud para un territorio determinado de acuerdo con sus condiciones físicas, bióticas sociales, etc. Asimismo, se delimitan las técnicas de producción y los espacios dedicados a cada una de ellas, respetando las Políticas de Ordenamiento definidas para cada unidad de manejo, tiene la finalidad de reorientar las actividades productivas de las comunidades de la microrregión para beneficiar a sus habitantes mediante procesos de participación social que generen alternativas de desarrollo sustentable.</p>
        <br>
      <p>El proyecto de ordenamiento territorial de áreas prioritarias del Estado de Tabasco nace como una iniciativa de la Secretaría de Recursos Naturales y Protección Ambiental del estado de Tabasco (SERNAPAM), que contempló dentro de sus objetivos la conservación de áreas de importancia biológica que por sus condiciones fisiográficas y de humedad favorecen el desarrollo de ecosistemas, como las selvas altas perennifolias, los palmares y jimbales de las zonas bajas inundables. Se determinaron seis áreas prioritarias para el Estado: Bitzales, Cinco Presidentes, Parque Estatal de la Sierra de Tabasco, Parque Estatal Agua Blanca, Área de Protección de Flora y Fauna Cañón Usumacinta, y Sierra de Huimanguillo.</p>
    </div>
  </div>
</div>