<div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <img src="http://idesmac.org.mx/images/publicaciones/otc.jpg">
        <button type="button" class="btn btn-outline-success">Descarga PDF</button>
        <button type="button" class="btn btn-outline-success">Leer en línea</button>
      </div>
      <div class="col-6 text-justify">
  
        <h4>Ordenamiento Territorial Comunitario</h4>
        <hr>
        <p>A finales de 2004 tuve la oportunidad, en el marco de una visita a las actividades del Programa de Desarrollo Forestal Comunitario (PROCYMAF), de participar en una reunión en la comunidad de Santa María Huatulco, Oaxaca. Ahí me llevé una grata sorpresa al escuchar la clara y certera explicación de un comunero sobre la importancia que para su comunidad significaba contar con un ordenamiento territorial con enfoque ecológico. Sus argumentos y su explicación conceptual, pero sobre todo su elevado nivel de apropiación política del ordenamiento para la recuperación de las decisiones comunitarias sobre las formas, los tiempos y las extensiones en el aprovechamiento de sus recursos naturales, representaron para mí una gran alegría y una confirmación de que el instrumento estaba rindiendo frutos.</p>
          <br>
        <p>Quince años atrás, convencido del valor y poder del ordenamiento para el fortalecimiento de la apropiación territorial por las instituciones comunitarias, me embarqué en impulsar este esfuerzo de planeación, primero en el nivel local, en una comunidad indígena en la sierra Purépecha en Michoacán, y posteriormente en el desarrollo de la planeación regional del Programa de Aprovechamiento Integral de Recursos Naturales en Zonas Indígenas Marginadas (PAIR) de la Universidad Nacional Autónoma de México (UNAM).</p>
      </div>
    </div>
  </div>
