.titulo
    background #4D4D4D 
    color #DDDDDD

.lista
    background white   
    padding-top 20px
    color #009688
    padding-bottom 10px

    li   
        padding-bottom 6px
        padding-top 6px