<nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand collapse navbar-collapse" href="#">
      <img src="/assets/20_años.png" width="160" height="110" class="d-inline-block align-top" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Quiénes somos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Qué hacemos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Proyectos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Publicaciones</a>
      </li>
    </ul>
  </div>
</nav>
