.cabecera
  background white 
  margin-right 0px
  margin-left 0px

  .texto
    background-color transparent
    color #006837   
    font-family 'Poppins', sans-serif
    font-weight 600
    font-size 22px
    line-height 22px
    padding-top 20px
    padding-left 70px

  .text
    background-color transparent
    color #006837   
    font-family 'Poppins', sans-serif
    font-weight 600
    font-size 14px
    line-height 22px
    padding-left 70px

  .logo  
    width 84px
    margin-top 20px
    margin-bottom 10px
    margin-left 80px

  .esquina
    margin-left 500px
    width 122px

.container-fluid
  nav 
    background #1B4933
    opacity 0.89
    font-family roboto-condensed, sans-serif
    font-weight 700
    height 32px
    font-size 12px
    width 100%

  a
    color: #f7f7f7
  .nav-link
    margin-left 5px
    .inicio
      margin-left 20px
  .nav-link:hover 
    background-color #20905C

