.container-fluid
  background #73a494

nav 
  background #EFEFEF
  font-family 'Ubuntu', sans-serif
  height 65px

 a
  color: #f7f7f7

.menu
  background black 
  width 120%
  border 1px solid white  
  outline 1px solid black

