<div class="card" style="width: 20rem;">
    <div class="card-header">
      Elige el Tema
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(20, 109, 47)" /></svg>Todo</li>(click)="()"
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(109, 61, 20)" /></svg>Acuerdos de Colaboración Teritorial</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(51, 168, 204)" /></svg>Calakmul</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(6, 235, 75)" /></svg>Ecoturismo</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(97, 67, 0)" /></svg>Ordenamiento Territorial</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(223, 63, 63)" /></svg>Otros</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(121, 96, 196)" /></svg>Red de Áreas Naturales Protegidas Comunitarias</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(109, 20, 20)" /></svg>Riesgo</li>
    </ul>
  </div>