<div class="card" style="width: 20rem;">
    <div class="card-header">
      Elige el Tema
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(20, 109, 47)" /></svg><img src="/assets/indent-all.png">Todo</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(109, 61, 20)" /></svg><img src="/assets/handshake.png">Acuerdos de Colaboración Teritorial</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(51, 168, 204)" /></svg><img src="/assets/cradle-of-humankind.png">Calakmul</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(6, 235, 75)" /></svg><img src="/assets/climbing-silhouette.png">Ecoturismo</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(97, 67, 0)" /></svg><img src="/assets/landing.png">Ordenamiento Territorial</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(223, 63, 63)" /></svg><img src="/assets/color-palette.png">Otros</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(121, 96, 196)" /></svg><img src="/assets/sprout.png">Red de Áreas Naturales Protegidas Comunitarias</li>
      <li class="list-group-item"><svg width="10" height="30"><rect width="20" height="30" style="fill:rgb(109, 20, 20)" /></svg><img src="/assets/danger.png">Riesgo</li>
    </ul>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <input class="form-control" type="text" placeholder="Buscar" readonly>
      </div>
    </div>
  </div>
  