<div class=container-fluid>
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"aria-current="page">Videos</li>
      <li class="breadcrumb-item"><a href="#">Prensa</a></li>
      <li class="breadcrumb-item"><a href="#">Espacios de Esperanza</a></li>
    </ol>
  </nav>
<div class="card-deck">
  <div class="card">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/stIAyY-jmc8" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Escuela de Formación de Organizaciones Locales para la Acción Territorial</h5>
      <p class="card-text">Retos, aprendizajes y proceso formativo que vivieron las y los cursantes de la Escuela de Organizaciones. La Escuela tiene como objetivo constituir y/o fortalecer a grupos de los pueblos originarios de los Altos de Chiapas para formarse como organizaciones.</p>
      <p class="card-text"><small class="text-muted">15 nov. 2016</small></p>
    </div>
  </div>
  <div class="card">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vu7LLsQ_0as" allowfullscreen></iframe> 
    <div class="card-body">
      <h5 class="card-title">Proyecto Círculos de Alimentación Escolar (CAE)</h5>
      <p class="card-text">Iniciativa del Círculo de Organizaciones Aliadas de los Altos de Chiapas (COFEMO, IDESMAC, Fundación Cántaro Azul, Fundación Bruja Violeta, Patronato Pro Educación Mexicano, K’inal Antsetik, Creative Learning, Fondo para la Paz y DIFA). Este video se presentó durante el 1er Foro de Soberanía Alimentaria.</p>
      <p class="card-text"><small class="text-muted">10 ago. 2016</small></p>
    </div>
  </div>
  <div class="card">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4fvVUuNJt28" allowfullscreen></iframe> 
    <div class="card-body">
      <h4 class="card-title">3er Foro de Áreas Naturales Protegidas Comunitarias de Chiapas</h4>
      <p class="card-text">Intercambio de saberes, un modelo alternativo de conservación en el estado.</p>
      <p class="card-text"><small class="text-muted">21 oct. 2015</small></p>
    </div>
  </div>
</div>  

<div class="card-deck">
    <div class="card">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cCS5G1MDycY" allowfullscreen></iframe>
      <div class="card-body">
        <h5 class="card-title">Encuentro Palma Camedor</h5>
        <p class="card-text">Documental 2do Foro de Intercambio de experiencias</p>
        <p class="card-text"><small class="text-muted">20 oct. 2015</small></p>
      </div>
    </div>
    <div class="card">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TomY9NZHcV8" allowfullscreen></iframe> 
      <div class="card-body">
        <h5 class="card-title">Escuela de Planeación Territorial para la Cohesión Social</h5>
        <p class="card-text">Intercambio de experiencias</p>
        <p class="card-text"><small class="text-muted">14 oct. 2015</small></p>
      </div>
    </div>
    <div class="card">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KdnLDMyUTAw" allowfullscreen></iframe> 
      <div class="card-body">
        <h4 class="card-title">Acuerdos de Colaboración para la Gestión Territorial de Los Altos de Chiapas</h4>
        <p class="card-text">Documental sobre el encuentro y los conversatorios sobre los 7 acuerdos</p>
        <p class="card-text"><small class="text-muted">13 oct. 2015</small></p>
      </div>
    </div>
  </div>  
</div>
