<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <iframe class="actAsDiv" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;q=idesmac&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed" frameborder="0"></iframe>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-4">
          <p>Av. Cristóbal Colón, #35B  Barrio El Cerrillo. San Cristóbal de Las Casas, Chiapas C.P. 29220. México</p>
          <p>Teléfono: 01(967) 678 22 63</p>
          <p>Celular: 01(967) 678 21 63</p>
      </div>
      <div class="col-8">
          <form>
              <div class="form-group row">
                <label for="inputNombre3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-6">
                  <input type="nombre" class="form-control" id="inputNombre3" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
              <label for="exampleFormControlTextarea">Mensaje</label>
              <textarea rows="4" cols="50"></textarea> 
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                  <button type="submit" class="btn">Enviar</button>
              </div>
              </div>
            </form>
      </div>
  </div>
  
  </div>




<!--
<div class="container-fluid banner">
  <div class="row">
    <div class="col-12 text-center">
      <h1>CONTACTO</h1>
      <p>IDESMAC actualmente cuenta con dos oficinas, una en Chiapas y otra en Calakmul.</p>
    </div>
  </div>
</div>
<br>
<div class="container-fluid form">
  <div class="row">
    <div class="col-5">
      <p>¡CONTÁCTANOS!</p>
      <form>
        <div class="form-group row">
          <label for="inputNombre3" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="nombre" class="form-control" id="inputNombre3" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn">Enviar</button>
        </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="col-6 contacto">
      <p>INFORMACIÓN DE CONTACTO</p>
      <hr>
      <div class="row d-flex">
        <div class="col-2">
          <img src="/assets/iconos/placeholder.png">
        </div>
        <div class="col-10 d-flex justify-content-right">
          <p class="text">Av. Cristóbal Colón, #35B Barrio El Cerrillo.<br> C.P. 29220. San Cristóbal de Las Casas, Chiapas
          México</p>
        </div>
      </div>
      <div class="row d-flex">
          <div class="col-2">
            <img src="/assets/iconos/phone.png">
          </div>
          <div class="col-10 d-flex justify-content-right">
            <p class="text">01(967) 678 22 63 <br>01(967) 678 21 63</p>
          </div>
        </div>
      <div class="row d-flex">
          <div class="col-2">
            <img src="/assets/iconos/email.png">
          </div>
          <div class="col-10 d-flex justify-content-right">
            <p class="text">difusion.idesmac@gmail.com</p>
          </div>
        </div>
    </div>
  </div>
</div>
<app-oficinas></app-oficinas>

<div class="container-fluid susc">
  <div class="row">
    <div class="col-12 text-center">
      <h4>Suscribirse al Boletín</h4>
      <label class="custom-file">
          <input type="file" id="file2" class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
    </div>
  </div>
</div>
-->