.container-fluid
    background-color #464646
    color white
    margin-bottom 40px

    h1  
        margin-top 80px
        margin-left 80px

    h2
        margin-right 100px
        margin-top 60px

    button 
        align-content center
        align-items center
        margin-top 10px
        margin-left 180px
        margin-bottom 40px

    img  
        width 200px
