<div class="container-fluid">
  <p>Boletines</p>
  <div class="row fondo">
    <div class="col-12">
        <img src="/assets/boletines/8.jpg">
        <img src="/assets/boletines/boletn_9.jpg">
        <img src="/assets/boletines/boletin10.jpg">
        <img src="/assets/boletines/11.jpg">
        <img src="/assets/boletines/boletin_doce.jpg">
        <img src="/assets/boletines/diversidad13.jpg">
        <img src="/assets/boletines/boletin14.jpg">
    </div>
  </div>
</div>


<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1>Ya disponible</h1>
      <a href="https://issuu.com/idesmac/docs/idesmac_diversidad_13" type="button" class="btn btn-info">Leer</a>
    </div>
    <div class="col-2">
      <img src="/assets/diversidad13.jpg">
    </div>
    <div class="col-5 text">
      <h2>Diversidad 13</h2>
      <h4>Boletín informativo en el cual se escribe sobre las últimas y más importantes noticias</h4>
      <p>Enero - Junio 2017</p>
    </div>
  </div>
</div>
-->
