<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1>Ya disponible</h1>
      <a href="https://issuu.com/idesmac/docs/idesmac_diversidad_13" type="button" class="btn btn-info">Leer</a>
    </div>
    <div class="col-2">
      <img src="/assets/diversidad13.jpg">
    </div>
    <div class="col-5 text">
      <h2>Diversidad 13</h2>
      <h4>Boletín informativo en el cual se escribe sobre las últimas y más importantes noticias</h4>
      <p>Enero - Junio 2017</p>
    </div>
  </div>
</div>
